# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp

# Environment Variables
.env

# OS
.DS_Store

# Logs
*.log

# Build
build/
dist/
*.egg-info/
